.headerWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(26, 44, 56);
    padding: 1rem 0;

    .container {
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
        .buttonWrapper {
            display: flex;
            gap: 1rem;
        }
    }
}
